.banner-text {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 33px;
    font-size: 38px;
    border-radius: 5px;
    font-family: 'garam';
    font-weight: bolder;
  }

@font-face {
    font-family: "garam";
    src: url(../../assets/font/garam.ttf);
}


@font-face {
    font-family: "hope";
    src: url(../../assets/font/hope.ttf);
}