/* postdetail.css */

.comment-section {
  margin-top: 10px;
  padding: 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.commentlist {
  list-style: none;
  padding: 0;
}

.commentlist li {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #ffff;
}


.comment-form textarea {
  height: 100px;
  width: 400%;
}

.post-content {
  text-align: center; 
  margin: 0 auto; 
  max-width: 600px; 
}


.post-content img {
  max-width: 100%; 
  height: auto; 
}

.music-info {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
